body {
  overflow-x: hidden;
  background-color: lightgrey
}

/*LISTS*/
ul {
  list-style-type: none
}
ul > li {
  margin: 5px
}
ol#log {
  border: 2px outset darkblue;
  border-radius: 10px;
}
footer {
  text-align: center;
  padding: 5px;
  marging-top: 5px;
  border-top: 1px solid darkblue;
}

/* NAVBAR */
body {
  margin: 0;
  padding-top: 25px;
}
body > *:not(nav):not(footer) {
  margin-left: 10px
}
nav {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 10px;
  margin: 0;
  background-color: lightgrey;
  border-bottom: darkblue 1px solid
}

/*OTHER*/
hr {
  border-radius: 50px;
  background-color: blue;
  border: outset darkblue 2px;
  height: 5px
}
code {
  background-color: #bbb;
  padding: 2px;
  border-radius: 5px
}
button {
  border-radius: 10px;
  border: 3px darkblue outset;
  padding: 5px;
  font-size: 14px
}
button:hover {
  background-color: rgba(0,0,255,0.1)
}
button:focus {
  background-color: rgba(0,0,255,0.1);
  outline: none
}
button:active {
  border: inset 3px darkblue;
  background-color: rgba(0,0,255,0.3)
}

#health {
  padding: 5px;
  font-weight: bold;
}
#energy {
  padding: 5px;
  font-weight: bold;
}

/*TABLE*/
caption {
  font-size: 20px;
  font-weight: bold;
}
table {
  margin: auto
}
table, td {
  border: 1px solid black;
  border-collapse: collapse;
}
td:first-child {
  font-weight: bold
}
td {
  padding: 5px
}
thead > tr {
  background-color: darkblue!important;
  color: white;
}
tr:hover {
  background-color: rgba(0,0,255,0.2)
}
thead > tr:hover {
  background-color: darkblue
}
label {
  font-size: 15px;
  font-style: italic;
}

/* GRID */
canvas {
  border: darkblue 1px solid;
  background-color: black;
  border-radius: 10px
}
.item-1 { grid-area: player; }
.item-2 { grid-area: enemy; }
.item-3 { grid-area: controller; }
.item-4 {
  grid-area: console;
  background-color: #555;
  color: white
}
.item-5 { grid-area: links; }
.container {
  display: grid;
  grid-gap: 10px;
  margin: 0 10px 10px 10px;
  grid-template-areas:
    'player enemy controller'
    'console console links';
}
.container > div {
  border: darkblue 1px solid;
  border-radius: 10px;
  padding: 10px;
}

/*LINKS*/
a {
  color: blue;
  text-decoration: none
}
a:hover {
  color: darkblue;
  text-decoration: none
}
